.def-notification {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #D1F1EA;
    color: #666;
    display: block;
    clear: right;
    width: 50%;
    margin-bottom: 10px;
}

.card {
    margin-top: 10px;
    padding: 30px 30px;
}

.well {
    border-radius: 5px;
    background-color: #F9F9F9;
    padding: 15px;
    margin-top: 15px;
    width: 50%;
}

.line {
    margin-bottom: 20px;
}

.error {
    color: #FF6D6D;
    font-size: 12px !important;
    font-weight: 500;
    padding-bottom: 10px;
}


/* 696318-1540395287-au */