/*============================================================
 Theme Name: web123-child
 Theme URI: http://www.web123.com.au
 Author: http://www.web123.com.au
 Author URI:
 Version: 1.0
 Description:
 Template: web123
 Text Domain: web123
 ============================================================*/
p, h1, h2, h3, h4, span, a, li, ul, strong {
  font-family: 'Open Sans', sans-serif;
}
.mob_hide {
  display: block;
}
@media screen and (max-width: 800px) {
  .mob_hide {
    display: none;
  }
}
a.nav-link, a.nav-contact {
  padding: 6px 12px;
  margin: 12px;
  color: #fff;
}
a.nav-contact {
  background-color: #f5bf45;
  border: solid 1px #f5bf45;
}
a.nav-contact:hover {
  color: #f5bf45;
  background-color: #fff;
  text-decoration: none;
}
a.nav-link {
  background-color: #6d6e70;
  border: solid 1px #6d6e70;
}
a.nav-link:hover {
  color: #6d6e70;
  background-color: #fff;
  text-decoration: none;
}
.quest_btn a {
  color: #fff;
  padding: 6px 12px;
  background-color: #f5bf45;
  border: solid 1px #f5bf45;
}
.quest_btn a:hover {
  color: #f5bf45 !important;
  background-color: #fff;
  text-decoration: none;
}
.quest_btn-white.get-in-touch p {
  padding: 6px 12px;
  background-color: #fff;
  border: solid 1px #fff;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1px;
}
.quest_btn-white.get-in-touch p a {
  color: #f5bf45;
}
.quest_btn-white.get-in-touch p a:hover {
  color: #fff !important;
}
.quest_btn-white.get-in-touch p:hover {
  background-color: #f5bf45;
}
.quest_btn-white.get-in-touch p:hover a {
  color: #fff;
}
body > div.wrapper > div > div > div > div > div > div:nth-child(1) {
  height: 420px;
}
@media screen and (max-width: 480px) {
  body > div.wrapper > div > div > div > div > div > div:nth-child(1) {
    background-position-x: -640px;
  }
}
.page-id-17 .banner_copy > div > div > div {
  width: 440px;
  right: 0;
  position: absolute;
  top: 100px;
}
@media screen and (max-width: 1000px) {
  .page-id-17 .banner_copy > div > div > div {
    display: none;
  }
}
/*============================================================
 ALL CSS ABOVE THIS LINE IS IN THE SASS FOLDER 
 IF YOU WRITE CSS HERE IT WILL BE OVER WRITTEN 
 ============================================================*/
