.metabox-holder#snapshot-widgets .postbox-container {
	width: 100%;
}

.postbox {
	float: left;
}
.backup-list-wrapper {
	float: left;
	width: 73%;
	min-height: 400px;
}
.postbox.backup-settings {
	width: 25%;
	float: right;
}

.postbox.backup-settings .time-settings {
	clear: both;
	overflow: hidden;
}
.postbox.backup-settings .time-settings label {
	display: block;
	width: 50%;
	float: left;
}
.postbox.backup-settings label span {
	font-weight: bold;
}
.postbox.backup-settings .time-settings label select {
	width: 98%;
}

.backup-settings time {
	font-weight: bold;
}

.backup-actions {
	padding-left: 1em;
	display: inline;
	font-weight: normal;
}
.cron-warn {
	display: inline;
	font-weight: normal;
	font-style: italic;
	font-size: 13px;
    line-height: 1.5;
}

/*
.backup-list .actions.column-actions .button.restore {
	height: 30px;
}
.backup-list .actions.column-actions .button.restore span {
	padding-left: 30px;
	line-height: 30px;
}
.backup-list .actions.column-actions .button.restore span:before {
	display: block;
	position: absolute;
	content: "\f316";
	font-size: 25px;
	font-family: dashicons;
	color: #fff;
	width: 25px;
}
*/

.backup-list th.column-name,
.backup-list td.column-name
{
	width: 45%;
	min-width: 300px;
}
.backup-list th.column-actions,
.backup-list td.column-actions
{
	max-width: 110px;
	min-width: 80px;
}

.backup-list td.column-name {
	line-height: 20px; /* dashicons height */
}
.backup-list td.column-name .dashicons {
	opacity: .75;
	line-height: 20px;
}
.backup-list td.column-name:hover .dashicons {
	opacity: 1;
}


/* List page - restore.php */

.restore-info-root {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
}

.restore-info-root .restore-steps {
	border: 1px solid #ddd;
}

.restore-info-root .step .head {
	border-bottom: 1px solid #ddd;
}
.restore-info-root .step.active .head {
	border-bottom: none;
}

.restore-info-root .step .head h3 {
	padding: 15px;
	opacity: .5;
}
.restore-info-root .step .body {
	padding: 15px;
	display: none;
}

.restore-info-root .step.active .head h3 {
	padding: 15px 0 0 15px;
	opacity: 1;
}
.restore-info-root .step.active .body {
	padding: 0 15px;
	display: block;
	border-bottom: 1px solid #ddd;
}


.restore-info-root .step.requirements {
	/* -------- */
}
	.restore-info-root .step.requirements .next {
		display: none;
		float: right;
	}

	.restore-info-root .step.requirements .re-check {
		display: none;
		float: right;
	}

	.restore-info-root .step.requirements .requirements-process {
		display: none;
		background: #eee;
		padding: 10px;
	}
	.restore-info-root .step.requirements .requirements-process.checking {
	}
	.restore-info-root .step.requirements p.indicator:after {
		background: #eee;
	}

	.restore-info-root .step.requirements .requirements-process.final {
	}
		.restore-info-root .step.requirements .requirements-process.final article {
			display: none;
			background: #fff;
			border: 1px solid #ddd;
			border-top: none;
			overflow: hidden; /* clears */
		}
		.restore-info-root .step.requirements .requirements-process.final .fail article {
			display: block;
		}
		.restore-info-root .step.requirements .requirements-process.final article:first-of-type {
			border-top: 1px solid #ddd;
		}

		.restore-info-root .step.requirements .requirements-process.final section {
			position: relative;
		}

		.restore-info-root .step.requirements .requirements-check .failure-info {
			display: none;
		}
		.restore-info-root .step.requirements .requirements-check .failure-info.warn {
			display: block;
		}
		.restore-info-root .step.requirements .requirements-check .failure-info.warn i {
			font-style: normal;
			font-weight: bold;
			color: rgb(255, 109, 109);
		}

		.restore-info-root .step.requirements .requirements-process.final section>header h3 {
			color: rgb(0, 115, 176);
		}
		.restore-info-root .step.requirements .requirements-process.final section>header h3:after {
			display: inline;
			content: " \25B4";
		}

		/* --- Results --- */
		.restore-info-root .step.requirements .requirements-process.final section.pass>header:after {
			color: rgb(26, 188, 156);
			display: block;
			position: absolute;
			top: 0;
			left: 30%;
			content: "\2713  Pass";
			font-weight: bold;
			padding: 8px 12px;
		}
		.restore-info-root .step.requirements .requirements-process.final section.fail>header:after {
			color: rgb(255, 109, 109);
			display: block;
			position: absolute;
			top: 0;
			left: 30%;
			content: "\d7  Fail";
			font-weight: bold;
			padding: 8px 12px;
		}
			.restore-info-root .step.requirements .requirements-process.final article header {
				width: 30%;
				float: left;
			}
				.restore-info-root .step.requirements .requirements-process.final article header h3 {
					font-size: 1em;
					padding-left: 15px;
				}
			.restore-info-root .step.requirements .requirements-process.final article div.response {
				width: 70%;
				float: left;
				position: relative;
			}
				.restore-info-root .step.requirements .requirements-process.final article div.response .result {
					font-weight: bold;
				}
				.restore-info-root .step.requirements .requirements-process.final article div.response .result.pass {
					color: rgb(26, 188, 156);
				}
					.restore-info-root .step.requirements .requirements-process.final article div.response .result.pass:after {
						display: block;
						position: absolute;
						top: 0;
						right: 20px;
						content: "\2713  Pass";
					}
				.restore-info-root .step.requirements .requirements-process.final article div.response .result.fail {
					color: rgb(255, 109, 109);
				}
					.restore-info-root .step.requirements .requirements-process.final article div.response .result.fail:after {
						display: block;
						position: absolute;
						top: 0;
						right: 20px;
						content: "\d7  Fail";
					}
				.restore-info-root .step.requirements .requirements-process.final article div.response .info {
					font-size: .9em;
					width: 80%;
				}

		/* --- Connect --- */
		.restore-info-root .step.connect #upgrade {
			display: none !important;
		}
		.restore-info-root .step.connect .actionable {
			background-color: #eee;
			padding: 0 15px;
		}

		/* --- Restore --- */
		.restore-info-root .step.progress .progress.update {
			overflow: hidden;
		}
			.restore-info-root .step.progress .progress.update p {
				display: none;
			}
			.restore-info-root .step.progress .progress.update p.current {
				display: block;
			}

			.restore-info-root .step.progress p.indicator:after {
				background: #fff;
			}

		.restore-info-root .step.progress p.done {
			background: rgb(26, 188, 156);
			color: #fff;
			font-weight: bold;
			padding: 1em 2em;
			position: relative;
			border-radius: 4px;
		}
		.restore-info-root .step.progress p.done span {
			padding-left: 1.5em;
		}
		.restore-info-root .step.progress p.done span:before {
			display: block;
			position: absolute;
			top: 1em;
			left: 2em;
			content: "\2713";
		}


	/* --- Working indicator --- */
	.restore-info-root p.indicator {
		font-size: 10px;
		text-indent: -9999em;
		float: left;
		width: 2em;
		height: 2em;
		margin-right: 1em;
		border-radius: 50%;
		background: #aaa;
		background: -moz-linear-gradient(left, #aaa 10%, rgba(255, 255, 255, 0) 42%);
		background: -webkit-linear-gradient(left, #aaa 10%, rgba(255, 255, 255, 0) 42%);
		background: -o-linear-gradient(left, #aaa 10%, rgba(255, 255, 255, 0) 42%);
		background: -ms-linear-gradient(left, #aaa 10%, rgba(255, 255, 255, 0) 42%);
		background: linear-gradient(to right, #aaa 10%, rgba(255, 255, 255, 0) 42%);
		position: relative;
		-webkit-animation: snapshot_spinner 1.4s infinite linear;
		animation: snapshot_spinner 1.4s infinite linear;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
	}
	.restore-info-root p.indicator:before {
		width: 50%;
		height: 50%;
		background: #aaa;
		border-radius: 100% 0 0 0;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
	}
	.restore-info-root p.indicator:after {
		background: transparent;
		width: 75%;
		height: 75%;
		border-radius: 50%;
		content: '';
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}






@-webkit-keyframes snapshot_spinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes snapshot_spinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}



/* AJAX backup stuff */
#snapshot-ajax-out {
	display: none;
	clear: both;
}
#snapshot-ajax-out .out {
	padding: 1em 0 .5em 0;
	font-size: .8em;
}
#snapshot-ajax-out .out pre {
	color: #f33;
}


.backup-list .tablenav .alignright.actions.refresh,
.backup-list .tablenav .alignright.actions.reset-api
{
	padding-right: 0;
}
.backup-list .tablenav .alignright.actions.refresh a,
.backup-list .tablenav .alignright.actions.reset-api a
{
	margin-left: 5px;
}

/* Destinations page */

.snapshot-destination-row {
	clear: both;
}

.snapshot-destination .add-new-h2 {
	top: 0;
}

.snapshot-destination {
	float: left;
	width: 48%;
	margin-right: 1%;
}
.snapshot-destination.full {
	float: none;
	width: 97%;
	margin: 0;
}


.snapshot-destination.full .snapshot-config {
	background: #fff;
	border: 1px solid #eee;
	overflow: hidden;
	padding: 30px;
}
.snapshot-destination.full .snapshot-config .configure {
	float: left;
	width: 30%;
	text-align: center;
	margin: 1em 0;
}
.snapshot-destination.full .snapshot-config .benefits {
	float: left;
	width: 70%;
}

.snapshot-destination.full .snapshot-config .benefits li {
	position: relative;
	padding-left: 32px;
	line-height: 24px;
}
.snapshot-destination.full .snapshot-config .benefits li:before {
	position: absolute;
	width: 24px;
	height: 24px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 16px;
	top: 0;
	left: 0;
	background: #19B4CF;
	color: #fff;
	content: "\f147";
	font-family: dashicons;
	text-align: center;
}

/* --- Backup settings --- */
.backup-settings .snapshot-settings.actions {
	overflow: hidden;
}
.backup-settings .snapshot-settings.actions .button {
	float: left;
}
.backup-settings .snapshot-settings.actions .button-primary {
	float: right;
}
.backup-settings.settings fieldset {
	border: none;
}
.backup-settings.settings fieldset legend {
	margin: 0;
	padding: 0;
	font-weight: bold;
}


.backup-settings.settings .log-levels {
	background: #f6f6f6;
	overflow: hidden;
}
.backup-settings.settings .log-levels fieldset.log_section {
	width: 49%;
	max-width: 170px;
	float: left;
	margin: 15px;
}
.backup-settings.settings .log-levels fieldset.log_section label {
	display: block;
	padding: 2px;
}

/* --- Backup now button goes to top --- */
.snapshot-wrap header.is-active h2 {
	line-height: 28px;
	margin: 0;
	padding: 0;
	margin-right: 1em;
	margin-bottom: 1em;
}
.snapshot-wrap header.is-active p {
	clear: both;
}

/* --- Trash button animation --- */
.delete-active .row-actions {
	display: block;
}
.delete-active .row-actions .trash a {
	background: none;
	position: relative;
	display: inline-block;
	padding-left: 1.5em;
}
.delete-active .row-actions .trash a:focus {
	border: none;
	box-shadow: none;
	outline: none;
}
.delete-active .row-actions .trash a:before {
	position: absolute;
	content: '';
	display: block;
	width: 1em;
	height: 1em;
	top: .2em;
	left: 0px;
	border-radius: 100%;
	box-shadow: 0 2px 0 0 #aaa;
	-ms-animation: snapshot_spinner 1s linear infinite;
	-moz-animation: snapshot_spinner 1s linear infinite;
	-webkit-animation: snapshot_spinner 1s linear infinite;
	-o-animation: snapshot_spinner 1s linear infinite;
	animation: snapshot_spinner 1s linear infinite;
}

.snapshot-full-log_settings .log-actions {
	clear: both;
	margin: .2em;
}

@media screen and (max-width:1330px) {
	#snapshot-full_backups-panel .backup-list-wrapper {
		min-height: 0;
	}
	#snapshot-full_backups-panel .backup-list-wrapper, #snapshot-full_backups-panel .postbox.backup-settings {
		float: none;
		clear: both;
		width: 100%;
	}
	.snapshot-destination, .snapshot-destination.full {
		width: 100%;
	}
}


/* 696318-1536888607-ai */